logs
target
conf
lib
.idea
*.iml
*.sh
/.idea_modules
/.classpath
/.project
/.settings
**/.classpath
**/.project
**/.settings
/.settings
/RUNNING_PID
# Compiled class file
*.class
.cache-main 
.cache-tests 

# Log file
*.log
nohup.out
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

#netbeans configuration
nb-configuration*
nbactions*